<div class="container">
  <mat-toolbar color="primary" *ngIf="canEdit">
    <mat-toolbar-row>
      <div class="toolbar no-select">
        <button mat-flat-button color="warn" (click)="openDialog()">
          Добавить
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-card class="example-card" *ngFor="let product of products">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <img class="example-header-image" src="{{ product.image }}" alt="" />
      </div>
      <mat-card-title>{{ product.title }}</mat-card-title>
    </mat-card-header>
    <img
      class="mat-card-image"
      mat-card-image
      src="{{ product.image }}"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>Цена : {{ product.price }}</p>
      <p>Автор : {{ product.autor }}</p>
      <p>Жанр : {{ product.genre }}</p>
    </mat-card-content>
    <mat-card-actions class="mat-actions">
      <div class="button-group">
        <button mat-button (click)="addToBasket(product)">
          В&nbsp;корзину
        </button>
        <button mat-button [routerLink]="['/product', product.id]">
          Подробнее
        </button>
      </div>

      <button mat-button [matMenuTriggerFor]="menu">Редактировать</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="deleteItem(product.id)">Удалить</button>
        <button mat-menu-item (click)="openDialog(product)">
          Редактировать
        </button>
      </mat-menu>
    </mat-card-actions>
  </mat-card>
</div>
