.mat-toolbar-row {
  background-color: rgb(106, 0, 255);
  color: #fff;
}

.mat-flat-button {
  margin: 0 5px;
}

.example-icon {
  padding: 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.no-select {
  cursor: pointer;
}
