<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="toolbar no-select">
      <span routerLink="/">Книжный магазин</span>
    </div>
    <span class="example-spacer"></span>
    <div class="toolbar no-select">
      <button class="mat-flat-button" mat-flat-button color="primary" routerLink="/">Главная</button>
      <button  class="mat-flat-button" mat-flat-button color="accent" routerLink="/products">
        Товары
      </button>
      <button  class="mat-flat-button" mat-flat-button color="warn" routerLink="/basket">Корзина</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
